.footer_main {
  display: flex;
  gap: 32px;
  padding: 12px;
  background-color: #003a63;
  position: sticky;
  bottom: 0px;
  justify-content: center;
}

.link {
  font-size: 18px;
  font-weight: 800;
  color: white;
}
