.footer_main {
  display: flex;
  gap: 32px;
  padding: 12px;
  background-color: #003a63;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-family: "Inter", sans-serif;
  justify-content: center;
}

.link {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: white;
}

.link:hover {
  color: #edc054;
}
