.header_route {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 1000px;
}

.header_bottom {
  padding: 12px;
  background-color: #bc1919;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.header_top {
  padding: 12px;
  background-color: #020563;
}

.header_title {
  font-weight: 900;
  font-size: 45px;
  color: white;
  font-family: "Georgia";
  text-align: center;
}
.header {
  position: sticky;
  top: 0px;
}
