.grad_routes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px 0px,
      rgb(61 59 53 / 16%) 0px 0px 0px 1px, rgb(61 59 53 / 8%) 0px 2px 5px 0px;
    border: 0px;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
  }
  .grad_home_routes {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .gh_body {
    max-width: 800px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 300px;
  }
  .main_gh_title {
    font-size: 36px;
    font-weight: 900;
  }
  .matric_title {
    font-size: 36px;
    font-weight: 900;
    font-family: "Georgia";
    text-align:center;
  }
  .matric_body {
    font-size: 20px;
    font-weight: 600;
    font-family: "Georgia";
    margin-top: 48px;
    margin-bottom: 48px;
    text-align:center;
  }
  .home_body {
    font-size: 30px;
    font-weight: 600;
    font-family: "Georgia";
    margin-top: 48px;
    margin-bottom: 48px;
    text-align:center;
  }
  .advisor_links_routes{
    font-size: 20px;
    color: black;
  }
  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-family: "Georgia";
    
  }
  p{
    color: black;
    font-weight: 400;
    font-family: "Georgia";
    margin-right: 48px;
  }
  .main_img{ 
    width: 100%; 
  }
  .logo_img{ 
    width: 15%;
    text-align:left;
  }