.container{
    display: flex;
}
.menu-placeholder{
    width: 330px;
    height: 495px;
    background-color: #F5F5F5;
    margin: 25px;
}

.instruction-container{
    width: 1015px;
    height: 495px;
    background-color: #C1DDF1;
    margin: 25px;
    border-radius: 20px;
    padding: 25px;
}

.instruction-container h1{
    text-align: center;
    padding: 10px;
}

.confirmation{
    font-size: 27px;
    padding: 20px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-buttons{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.pin-table{
    text-align: center;
    height: 300px;
    padding: 50px;
    font-size: 30px;
}



#request, #view{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px 0px,
      rgb(61 59 53 / 16%) 0px 0px 0px 1px, rgb(61 59 53 / 8%) 0px 2px 5px 0px;
    border: 3px solid #003A63;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin: 20px;
    color: #003A63;
}